*{
    margin: 0;
    padding: o;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0,0.563)),url('https://miro.medium.com/v2/format:webp/0*EfkvjCOb8HA-dKNR');
    background-size: cover;
    background-position: center;
    position: relative;
}

.container{
    
    background-color: rgb(255, 255, 255);
    width: 30rem;
    height: 45vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 7rem;
    
}

h1{
    margin-left: 2rem;
    padding-top: 4rem;
    margin-bottom: 5px;
    font-size: 50px;
}


.login-btn{
    text-align: center;
    width: 10rem;
    padding: 20px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    border-radius: 25px;
    margin-left: 3rem;
    
}

#loginForm{
    margin-left: 2rem;

}

.content{
    display: flex;
}

.Gicon{
    padding-top: 1rem;
}




